/** @file _quiltrow-one-2x2.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow template styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__block--col {
  &.quiltrow__grid--one2x2 {
    .quiltrow__block--pane {
      @include grid-span(12, 1);
    }
  }
}