/** @file _quiltrow-two-1x1-one-2x1.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow template styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__block--col {
  &.quiltrow__grid--two1x1-one2x1 {
    .quiltrow__grid--one2x1 {
      @include grid-span(12, 1);
    }
    .quiltrow__grid--two1x1 {
      @media #{$medium-up} {
        @include two-columns();
      }
      @media #{$small-only} {
        @include grid-span(12, 1);
      }
    }
  }
}