/** @file _quiltrow-admin-layout.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing global variables.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
.quiltrow__wrapper {
  @extend %row;
  // Quiltrow Column.
  .quiltrow__side--left {
    @include grid-span(6, 1);
    // Grid Gutter Override.
    margin-right: -100%;
    width: 48.93617%;

  }
  .quiltrow__side--right {
    @include grid-span(6, 7);
    // Grid Gutter Override.
    width: 48.93617%;
  }
  #{$quiltrow-col-group} {
    summary {
      background: $quiltrow-primary;
      color: $color-white;
    }
  }
}