/** @file _quiltrow-default.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow default layout styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__block--col {
  &.quiltrow__grid--default {
    .quiltrow__block--pane {
      @include grid-span(12, 1);
    }
  }
}