/** @file _quiltrow-two-1x2.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow template styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__block--col {
  &.quiltrow__grid--two1x2 {
    .quiltrow__block--pane {
      @media #{$medium-up} {
        @include two-columns();
      }
      @media #{$small-only} {
        @include grid-span(12, 1);
      }
    }
  }
}
