{% set path_to_theme = '/themes/zipcar_presales_custom/presales_base' %} {# use in your paths below if necessary #}
{% set theme_name = 'presales_base' %}

<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		{# Link in your Drupal site's compiled CSS. #}
		<link rel="stylesheet" href="{{ path_to_theme }}/css/{{ theme_name }}.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- update this style-guide-specific file in patten-lab/source/css! -->
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all">
		<!-- End Pattern Lab -->
		
	</head>
	<body class="{{ bodyClass }}">
	