{% set path_to_theme = '/themes/zipcar_presales_custom/presales_base' %} {# use in your paths below if necessary #}

	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	{# note: these references are all absolute paths, so change carefully please. #}

	{# core/drupal library #}
	<script src="/core/assets/vendor/domready/ready.min.js"></script>
	<script src="/core/misc/drupalSettingsLoader.js"></script>
	<script src="/core/misc/drupal.js"></script>

	{# core/jquery library #}
	<script src="/core/assets/vendor/jquery/jquery.min.js"></script>
	{# core/jquery.once library #}
	<script src="/core/assets/vendor/jquery-once/jquery.once.min.js"></script>

	{#
	MANUALLY ADD any custom libraries you're using in Drupal. E.G.:
	use.fontawesome.com
	cdn.something for a carousel, a scroller animation
	a video player, etc.
	#}

	{# Include Foundation Scripts from Parent Theme.  sub_theme inherits these and may or may not use them, but let's grab em all just in case #}
	<script src="/themes/zurb_foundation/js/foundation.js"></script>
	<script src="/themes/zurb_foundation/js/top_bar_active.js"></script>
	<script src="/themes/zurb_foundation/js/motion-ui.min.js"></script>
	<script src="/themes/zurb_foundation/js/status_in_reveal.js"></script>
	<script src="/themes/zurb_foundation/js/alert_close.js"></script>

	{# Initialize Foundation Scripts #}
	<script>
		(function ($) {
			$(document).foundation();
		})(jQuery);
	</script>

	{# Initialize any carousels, etc. #}
	
	</body>
</html>