{#
/**
 * @file
 * Default theme implementation to display an individual atom in a Quilt layout.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('hs2_blocks_quilt_component/hs2_blocks_quilt_component_theme') }}

<article id="{{ value.uuid }}" class="quiltrow__atom">
    {% if value.link %} <a href="{{ value.link }}"> {% endif %}
        <div class="quiltrow__atom--img">
            {{ value.bg_img }}
        </div>
        {% if value.headline or value.byline or value.cta %}
        <div class="quiltrow__atom--text">
            {% if value.headline %}<h2 class="quiltrow__atom--headline">{{ value.headline }}</h2>{% endif %}
            {% if value.byline %}<h3 class="quiltrow__atom--byline">{{ value.byline }}</h3>{% endif %}
            {% if value.cta %}<span class="quiltrow__atom--btn">{{ value.cta }}</span>{% endif %}
        </div>
        {% endif %}
        {% if value.link %} </a> {% endif %}
</article>