{#
/**
 * @file
 * Default theme implementation to display Two 2x1 quilt side.
 *
 * @ingroup themeable
 */
#}
{# 50% width in grid framework #}
<div class="quiltrow__block--col quiltrow__grid--two2x1">
    <div class="">
    {% for key,value in content %}
        {# Only render 3 atoms for Two 2x1 #}
        {% if key <= 2 %}
            {# 100% width in grid framework #}
            <div class="quiltrow__block--pane quiltrow__styles{{ article_classes[key] }}">
                {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>