{#
/**
 * @file
 * Default theme implementation to display One 2x2 quilt side.
 *
 * @ingroup themeable
 */
#}
{# 50% width in grid framework #}
<div class="quiltrow__block--col quiltrow__grid--one2x2">
    <div class="quiltrow__block--pane quiltrow__styles{{ article_classes[0] }}">
    {% for key,value in content %}
        {# Only render a single atom for One 2x2 #}
        {% if key == 0 %}
            {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
        {% endif %}
    {% endfor %}
    </div>
</div>