{#
/**
 * @file
 * Default theme implementation to display Two 1x2 quilt side.
 *
 * @ingroup themeable
 */
#}
<div class="quiltrow__block--col quiltrow__grid--two1x2">
    <div class="">
        {% for key,value in content %}
            {# Only render to two atoms for Two 1x2 #}
            {% if key <= 1 %}
                {# 25% width in grid framework #}
                <div class="quiltrow__block--pane quiltrow__styles{{ article_classes[key] }}">
                    {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>