{#
/**
 * @file
 * Default theme implementation to display One 2x1 & Two 1x1 quilt side.
 *
 * @ingroup themeable
 */
#}
{# 50% width in grid framework #}
<div class="quiltrow__block--col quiltrow__grid--one2x1-two1x1">
    <div class="">
        {% for key,value in content %}
        {# Only render 3 atoms for One 2x1 & Two 1x1 #}
        {% if key <= 2 %}
            {% if key == 0 %}
            {# 50% width in grid framework #}
            <div class="quiltrow__block--pane quiltrow__grid--one2x1 quiltrow__styles{{ article_classes[key] }}">
                {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
            </div>
            {% else %}
            <div class="quiltrow__block--pane quiltrow__grid--two1x1 quiltrow__styles{{ article_classes[key] }}">
                {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
            </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>