{#
/**
 * @file
 * Default theme implementation to display a generic quilt side.
 *
 * @ingroup themeable
 */
#}
<div class="quiltrow__block--col quiltrow__grid--default">
    {% for key,value in content %}
        <div class="quiltrow__block--pane quiltrow__styles{{ article_classes[key] }}">
            {% include base_path ~ 'modules/custom/hs2_blocks_quilt_component/templates/atom.html.twig' %}
        </div>
    {% endfor %}
</div>