/** @file _quiltrow-atoms.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow atom styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

// Quilt Row Atom Base.
.quiltrow__atom {
  position: relative;
  a {
    background: transparent;
    color: inherit;
    display: block;
    border: none;
    text-decoration: none;
    &:hover {
      border: inherit;
      color: inherit;
      text-decoration: inherit;
    }
  }
  // Quilt Row Img Section.
  .quiltrow__atom--img {
    max-width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  // Quilt Row Text Section.
  .quiltrow__atom--text {
    color: inherit;
    position: absolute;
    max-width: rem(600);
    text-align: left;
    width: 92%;
    z-index: 1;
    @media #{$medium-up} {
      z-index: 1;
      width: 75%;
    }
  }
  // Quilt Row Headline Text
  .quiltrow__atom--headline {
    margin: 0 0 rem(10px);
  }
  // Quilt Row Byline Text
  .quiltrow__atom--byline {
    margin: 0 0 rem(20px);
  }
  // Quilt Row Button
  .quiltrow__atom--btn {
    padding: rem(8px 28px);
  }
}