/** @file _quiltrow-styles.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow style options.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__styles {
  position: relative;
  // Background Color Options.
  &.bg--white {
    background-color: $color-white;
  }
  &.bg--black {
    background-color: $color-black;
  }
  &.bg--brand {
    background-color: $color-brand;
  }
  // Atom Text Color Options.
  &.txt__color--black {
    color: $color-black;
  }
  &.txt__color--white {
    color: $color-white;
  }
  // Atom Text Position Options.
  &.txt__pos--top-left {
    .quiltrow__atom--text {
      top: rem(16px);
      left: rem(16px);
    }
  }
  &.txt__pos--top-right {
    .quiltrow__atom--text {
      right: rem(16px);
      text-align: right;
      top: rem(16px);
    }
  }
  &.txt__pos--bottom-left {
    .quiltrow__atom--text {
      bottom: rem(16px);
      left: rem(16px);
    }
  }
  &.txt__pos--bottom-right {
    .quiltrow__atom--text {
      bottom: rem(16px);
      right: rem(16px);
      text-align: right;
    }
  }
  &.txt__pos--center-left {
    .quiltrow__atom--text {
      @include transform(translate(0, -50%));
      left: rem(16px);
      top: 50%;
    }
  }
  &.txt__pos--center-right {
    .quiltrow__atom--text {
      @include transform(translate(0, -50%));
      right: rem(16px);
      text-align: right;
      top: 50%;
    }
  }
  // Button Color Options.
  &.btn__color--brand {
    .quiltrow__atom--btn {
      background-color: $color-brand;
      color: $color-white;
      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
    &.btn__color--alt {
      .quiltrow__atom--btn {
        &:hover {
          background-color: $color-white;
          color: $color-brand;
        }
      }
    }
  }
  &.btn__color--white {
    .quiltrow__atom--btn {
      background-color: $color-white;
      color: $color-brand;
      &:hover {
        background-color: $color-brand;
        color: $color-white;
      }
    }
    &.btn__color--alt {
      .quiltrow__atom--btn {
        &:hover {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
  }
  &.btn__color--black {
    .quiltrow__atom--btn {
      background-color: $color-black;
      color: $color-white;
      &:hover {
        background-color: $color-brand;
        color: $color-white;
      }
    }
    &.btn__color--alt {
      .quiltrow__atom--btn {
        &:hover {
          background-color: $color-white;
          color: $color-black;
        }
      }
    }
  }
  // Button Size Options.
  &.btn__size--tiny {
    .quiltrow__atom--btn {
      font-size: rem(12px);
    }
  }
  &.btn__size--small {
    .quiltrow__atom--btn {
      font-size: rem(14px);
    }
  }
  &.btn__size--large {
    .quiltrow__atom--btn {
      font-size: rem(20px);
    }
  }
  &.btn__size--standard {
    .quiltrow__atom--btn {
      font-size: rem(16px);
    }
  }
  // Mobile / Tablet Options.
  @media #{$small-only} {
    &.quiltrow__hide--mobile-txt {
      .quiltrow__atom--headline,
      .quiltrow__atom--byline {
        display: none;
        visibility: hidden;
      }
    }
  }
  @media #{$medium-only} {
    &.quiltrow__hide--tablet-txt {
      .quiltrow__atom--headline,
      .quiltrow__atom--byline {
        display: none;
        visibility: hidden;
      }
    }
  }
}