/** @file _quiltrow-forms.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow block styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

// Quilt Row Block Layout.
.quiltrow__block {
  @extend %row;
  // Default Grid.
  .field--name-field-hs2-quilt-rows-lt-side {
    @include grid-span(6, 1);
  }
  .field--name-field-hs2-quilt-rows-rt-side {
    @include grid-span(6, 7);
  }
  #{$quiltrow-fields} {
    @media #{$medium-only} {
      @include grid-span(12, 1);
    }
    @media #{$small-only} {
      @include grid-span(12, 1);
    }
  }
}