/** @file _quiltrow-forms.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow admin form styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

.quiltrow__wrapper {
  // Quilt Row Layout Options.
  .form-radios {
    .form-type-radio {
      float: left;
      text-align: center;
      width: 25%;
    }
    label {
      display: block;
    }
    input[type="radio"] {
      margin-bottom: 60px;
    }
    #{$quiltrow-layout-opt-classes} {
      background-position: center 25px;
      background-repeat: no-repeat;
      &.quiltrow__layout--hs2-quilt-one-2x2 {
        background-image: image-url('one2x2.png');
      }
      &.quiltrow__layout--hs2-quilt-two-1x2 {
        background-image: image-url('two1x2.png');
      }
      &.quiltrow__layout--hs2-quilt-two-2x1 {
        background-image: image-url('two2x1.png');
      }
      &.quiltrow__layout--hs2-quilt-four-1x1 {
        background-image: image-url('four1x1.png');
      }
      &.quiltrow__layout--hs2-quilt-two-1x1-one-2x1 {
        background-image: image-url('two1x1one2x1.png');
      }
      &.quiltrow__layout--hs2-quilt-one-2x1-two-1x1 {
        background-image: image-url('one2x1two1x1.png');
      }
    }
  }
  #{$quiltrow-fields} {
    table {
      tr {
        td:first-child {
          min-width: 62px;
          background-position: 50% 10px;
          background-repeat: no-repeat;
        }
        &.quiltrow__layout--hs2_quilt_one_2x2:first-child td:first-child {
          background-image: image-url('one2x2.png');
        }
        &.quiltrow__layout--hs2_quilt_two_2x1:first-child td:first-child {
          background-image: image-url('two2x1-t.png');
        }
        &.quiltrow__layout--hs2_quilt_two_2x1:nth-child(2) td:first-child {
          background-image: image-url('two2x1-b.png');
        }
        &.quiltrow__layout--hs2_quilt_two_1x2:first-child td:first-child {
          background-image: image-url('two1x2-l.png');
        }
        &.quiltrow__layout--hs2_quilt_two_1x2:nth-child(2) td:first-child  {
          background-image: image-url('two1x2-r.png');
        }
        &.quiltrow__layout--hs2_quilt_four_1x1:first-child td:first-child {
          background-image: image-url('four1x1-tl.png');
        }
        &.quiltrow__layout--hs2_quilt_four_1x1:nth-child(2) td:first-child {
          background-image: image-url('four1x1-tr.png');
        }
        &.quiltrow__layout--hs2_quilt_four_1x1:nth-child(3) td:first-child {
          background-image: image-url('four1x1-bl.png');
        }
        &.quiltrow__layout--hs2_quilt_four_1x1:nth-child(4) td:first-child {
          background-image: image-url('four1x1-br.png');
        }
        &.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:first-child td:first-child {
          background-image: image-url('two1x1one2x1-tl.png');
        }
        &.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(2) td:first-child {
          background-image: image-url('two1x1one2x1-tr.png');
        }
        &.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(3) td:first-child {
          background-image: image-url('two1x1one2x1-b.png');
        }
        &.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:first-child td:first-child {
          background-image: image-url('one2x1two1x1-t.png');
        }
        &.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(2) td:first-child {
          background-image: image-url('one2x1two1x1-bl.png');
        }
        &.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(3) td:first-child {
          background-image: image-url('one2x1two1x1-br.png');
        }
      }
    }
  }
}
