// Original Styles.
// @todo: rewrite styles, split between admin and theme styles.
div.ctools-modal-content fieldset.quilt-row-side-left,
div.ctools-modal-content fieldset.quilt-row-side-right {
  clear: none;
  float: left;
  width: 50%;
  /* Temporary fix; coerce the admin panes to sit side-by-side under "Customize
  Display" since IPE is broken*/
  width: 47.5%;
}

.vertical-tabs {
  clear: left;
}

table[id*="field-quilt-rows-left-side-values"],
table[id*="field-quilt-rows-right-side-values"] {
  width: 100%;
}

table[id*="field-quilt-rows-left-side-values"] label:after,
table[id*="field-quilt-rows-right-side-values"] label:after {
  content: '*';
  color: red;
}

table[id*="field-quilt-rows-left-side-values"] th > label:after,
table[id*="field-quilt-rows-right-side-values"] th > label:after,
table[id*="field-quilt-rows-left-side-values"] .group-quilt-styles label:after,
table[id*="field-quilt-rows-right-side-values"] .group-quilt-styles label:after,
table[id*="field-quilt-rows-left-side-values"] .field-name-field-quilt-show-news-icon label:after,
table[id*="field-quilt-rows-right-side-values"] .field-name-field-quilt-show-news-icon label:after,
table[id*="field-quilt-rows-left-side-values"] td.atom-video .field-name-field-quilt-atom-headline label:after,
table[id*="field-quilt-rows-right-side-values"] td.atom-video .field-name-field-quilt-atom-headline label:after,
table[id*="field-quilt-rows-left-side-values"] td.atom-video .field-name-field-quilt-atom-byline label:after,
table[id*="field-quilt-rows-right-side-values"] td.atom-video .field-name-field-quilt-atom-byline label:after,
table[id*="field-quilt-rows-left-side-values"] td.atom-product .field-name-field-quilt-atom-headline label:after,
table[id*="field-quilt-rows-right-side-values"] td.atom-product .field-name-field-quilt-atom-headline label:after,
table[id*="field-quilt-rows-left-side-values"] .field-name-field-quilt-atom-hide-rating label:after,
table[id*="field-quilt-rows-right-side-values"] .field-name-field-quilt-atom-hide-rating label:after,
table[id*="field-quilt-rows-left-side-values"] .field-name-field-quilt-atom-hide-price label:after,
table[id*="field-quilt-rows-right-side-values"] .field-name-field-quilt-atom-hide-price label:after,
table[id*="field-quilt-rows-left-side-values"] td.atom-custom label:after,
table[id*="field-quilt-rows-right-side-values"] td.atom-custom label:after {
  content: '';
}

table[id*="field-quilt-rows-left-side-values"] td.atom-custom .field-name-field-quilt-atom-type label:after,
table[id*="field-quilt-rows-right-side-values"] td.atom-custom .field-name-field-quilt-atom-type label:after {
  content: '*';
}

.field-name-field-quilt-rows-left-side,
.field-name-field-quilt-rows-right-side {
  clear: left;
}

.field-name-field-quilt-rows-left-layout,
.form-item-field-quilt-rows-left-layout-und,
.field-name-field-quilt-rows-right-layout,
.form-item-field-quilt-rows-right-layout-und {
  float: left;
  width: 100%;
}

.field-name-field-quilt-rows-left-layout .form-type-radio,
.field-name-field-quilt-rows-right-layout .form-type-radio {
  float: left;
  width: 25%;
  text-align: center;
}

.field-name-field-quilt-rows-left-layout .form-type-radio label,
.field-name-field-quilt-rows-right-layout .form-type-radio label {
  display: block;
}

.field-name-field-quilt-rows-left-layout input.form-radio[type=radio],
.field-name-field-quilt-rows-right-layout input.form-radio[type=radio] {
  margin-bottom: 60px;
}

.form-radios .form-item-field-quilt-rows-left-layout-und,
.form-radios .form-item-field-quilt-rows-right-layout-und {
  background: url('../images/one2x2.png') center 25px no-repeat;
}

.form-radios .form-item-field-quilt-rows-left-layout-und:nth-child(2n),
.form-radios .form-item-field-quilt-rows-right-layout-und:nth-child(2n) {
  background-image: url('../images/two1x2.png');
}

.form-radios .form-item-field-quilt-rows-left-layout-und:nth-child(3n),
.form-radios .form-item-field-quilt-rows-right-layout-und:nth-child(3n) {
  background-image: url('../images/two2x1.png');
}

.form-radios .form-item-field-quilt-rows-left-layout-und:nth-child(4n),
.form-radios .form-item-field-quilt-rows-right-layout-und:nth-child(4n) {
  background-image: url('../images/four1x1.png');
}

.form-radios .form-item-field-quilt-rows-left-layout-und:nth-child(5n),
.form-radios .form-item-field-quilt-rows-right-layout-und:nth-child(5n) {
  background-image: url('../images/two1x1one2x1.png');
}

.form-radios .form-item-field-quilt-rows-left-layout-und:nth-child(6n),
.form-radios .form-item-field-quilt-rows-right-layout-und:nth-child(6n) {
  background-image: url('../images/one2x1two1x1.png');
}

table[id*="field-quilt-rows-left-side-values"] tr td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr td:first-child {
  min-width: 62px;
  background-position: 50% 10px;
  background-repeat: no-repeat;
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-0:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-0:first-child td:first-child {
  background-image: url('../images/one2x2.png');
}


table[id*="field-quilt-rows-left-side-values"] tr.layout-1:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-1:first-child td:first-child {
  background-image: url('../images/two2x1-t.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-1:nth-child(2) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-1:nth-child(2) td:first-child {
  background-image: url('../images/two2x1-b.png');
}


table[id*="field-quilt-rows-left-side-values"] tr.layout-2:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-2:first-child td:first-child {
  background-image: url('../images/two1x2-l.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-2:nth-child(2) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-2:nth-child(2) td:first-child  {
  background-image: url('../images/two1x2-r.png');
}


table[id*="field-quilt-rows-left-side-values"] tr.layout-3:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-3:first-child td:first-child {
  background-image: url('../images/four1x1-tl.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-3:nth-child(2) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-3:nth-child(2) td:first-child {
  background-image: url('../images/four1x1-tr.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-3:nth-child(3) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-3:nth-child(3) td:first-child {
  background-image: url('../images/four1x1-bl.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-3:nth-child(4) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-3:nth-child(4) td:first-child {
  background-image: url('../images/four1x1-br.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-4:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-4:first-child td:first-child {
  background-image: url('../images/two1x1one2x1-tl.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-4:nth-child(2) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-4:nth-child(2) td:first-child {
  background-image: url('../images/two1x1one2x1-tr.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-4:nth-child(3) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-4:nth-child(3) td:first-child {
  background-image: url('../images/two1x1one2x1-b.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-5:first-child td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-5:first-child td:first-child {
  background-image: url('../images/one2x1two1x1-t.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-5:nth-child(2) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-5:nth-child(2) td:first-child {
  background-image: url('../images/one2x1two1x1-bl.png');
}

table[id*="field-quilt-rows-left-side-values"] tr.layout-5:nth-child(3) td:first-child,
table[id*="field-quilt-rows-right-side-values"] tr.layout-5:nth-child(3) td:first-child {
  background-image: url('../images/one2x1two1x1-br.png');
}
