/** @file _quiltrow-init.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing initial quiltrow imports.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/** @file _quiltrow-init.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing initial quiltrow imports.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/** @file _quiltrow-functions.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow sass functions.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/** @file _quiltrow-variables.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow variables.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/** @file _quiltrow-mixins.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow mixin functions.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/** @file _quiltrow-grid.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow grid settings.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/* line 14, ../sass/init/_quiltrow-grid.scss */
.quiltrow__wrapper {
  margin: 0 auto;
  max-width: 100%;
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.quiltrow__wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-1 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-2 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-3 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-4 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-5 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-6 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-7 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-8 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-9 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-10 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-11 {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-1-12 {
  width: 8.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-1 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-2 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-3 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-4 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-5 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-6 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-7 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-8 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-9 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-10 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-11 {
  width: 16.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-2-12 {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-1 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-2 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-3 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-4 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-5 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-6 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-7 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-8 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-9 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-10 {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-11 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-3-12 {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-1 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-2 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-3 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-4 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-5 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-6 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-7 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-8 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-9 {
  width: 33.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-10 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-11 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-4-12 {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-1 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-2 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-3 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-4 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-5 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-6 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-7 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-8 {
  width: 41.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-9 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-10 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-11 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-5-12 {
  width: 41.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-1 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-2 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-3 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-4 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-5 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-6 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-7 {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-8 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-9 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-10 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-11 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-6-12 {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-1 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-2 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-3 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-4 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-5 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-6 {
  width: 58.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-7 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-8 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-9 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-10 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-11 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-7-12 {
  width: 58.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-1 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-2 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-3 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-4 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-5 {
  width: 66.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-6 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-7 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-8 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-9 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-10 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-11 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-8-12 {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-1 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-2 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-3 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-4 {
  width: 75%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-5 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-6 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-7 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-8 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-9 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-10 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-11 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-9-12 {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-1 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-2 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-3 {
  width: 83.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-4 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-5 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-6 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-7 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-8 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-9 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-10 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-11 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-10-12 {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-1 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-2 {
  width: 91.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-3 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-4 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-5 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-6 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-7 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-8 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-9 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-10 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-11 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-11-12 {
  width: 91.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-1 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-2 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-3 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 16.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-4 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-5 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-6 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 41.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-7 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-8 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 58.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-9 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-10 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 75%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-11 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 83.33333%;
  clear: none;
}

/* line 30, ../sass/init/_quiltrow-grid.scss */
.cols-12-12 {
  width: 100%;
  float: left;
  margin-right: -100%;
  margin-left: 91.66667%;
  clear: none;
}

@media all and (max-width: 767px) {
  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-1-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-2-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-3-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-4-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-5-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-6-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-7-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-8-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-9-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-10-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-11-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-5 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-6 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-7 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-8 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-9 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-10 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-11 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* line 38, ../sass/init/_quiltrow-grid.scss */
  .cols-12-12 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/** @file _quiltrow-forms.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow admin form styles.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/* line 14, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-type-radio {
  float: left;
  text-align: center;
  width: 25%;
}
/* line 19, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios label {
  display: block;
}
/* line 22, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios input[type="radio"] {
  margin-bottom: 60px;
}
/* line 25, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout {
  background-position: center 25px;
  background-repeat: no-repeat;
}
/* line 28, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-one-2x2, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-one-2x2 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x2.png?1488485620');
}
/* line 31, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-two-1x2, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-two-1x2 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x2.png?1488485620');
}
/* line 34, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-two-2x1, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-two-2x1 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two2x1.png?1488485620');
}
/* line 37, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-four-1x1, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-four-1x1 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/four1x1.png?1488485620');
}
/* line 40, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-two-1x1-one-2x1, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-two-1x1-one-2x1 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x1one2x1.png?1488485620');
}
/* line 43, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-lt-layout.quiltrow__layout--hs2-quilt-one-2x1-two-1x1, .quiltrow__wrapper .form-radios .form-item-field-hs2-quilt-rows-rt-layout.quiltrow__layout--hs2-quilt-one-2x1-two-1x1 {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x1two1x1.png?1488485620');
}
/* line 51, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr td:first-child {
  min-width: 62px;
  background-position: 50% 10px;
  background-repeat: no-repeat;
}
/* line 56, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_one_2x2:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_one_2x2:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x2.png?1488485620');
}
/* line 59, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_2x1:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_2x1:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two2x1-t.png?1488485620');
}
/* line 62, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_2x1:nth-child(2) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_2x1:nth-child(2) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two2x1-b.png?1488485620');
}
/* line 65, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_1x2:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_1x2:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x2-l.png?1488485620');
}
/* line 68, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_1x2:nth-child(2) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_1x2:nth-child(2) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x2-r.png?1488485620');
}
/* line 71, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/four1x1-tl.png?1488485620');
}
/* line 74, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(2) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(2) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/four1x1-tr.png?1488485620');
}
/* line 77, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(3) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(3) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/four1x1-bl.png?1488485620');
}
/* line 80, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(4) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_four_1x1:nth-child(4) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/four1x1-br.png?1488485620');
}
/* line 83, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x1one2x1-tl.png?1488485620');
}
/* line 86, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(2) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(2) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x1one2x1-tr.png?1488485620');
}
/* line 89, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(3) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_two_1x1_one_2x1:nth-child(3) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/two1x1one2x1-b.png?1488485620');
}
/* line 92, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:first-child td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:first-child td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x1two1x1-t.png?1488485620');
}
/* line 95, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(2) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(2) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x1two1x1-bl.png?1488485620');
}
/* line 98, ../sass/components/_quiltrow-forms.scss */
.quiltrow__wrapper .field--name-field-hs2-quilt-rows-lt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(3) td:first-child, .quiltrow__wrapper .field--name-field-hs2-quilt-rows-rt-side table tr.quiltrow__layout--hs2_quilt_one_2x1_two_1x1:nth-child(3) td:first-child {
  background-image: url('/modules/custom/hs2_blocks_quilt_component/img/one2x1two1x1-br.png?1488485620');
}

/** @file _quiltrow-admin-layout.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing global variables.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/
/* line 13, ../sass/layouts/_quiltrow-admin-layout.scss */
.quiltrow__wrapper .quiltrow__side--left {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  margin-right: -100%;
  width: 48.93617%;
}
/* line 20, ../sass/layouts/_quiltrow-admin-layout.scss */
.quiltrow__wrapper .quiltrow__side--right {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 48.93617%;
}
/* line 26, ../sass/layouts/_quiltrow-admin-layout.scss */
.quiltrow__wrapper .quiltrow__side--left summary, .quiltrow__wrapper .quiltrow__side--right summary {
  background: #0074BD;
  color: #ffffff;
}
