/** @file _quiltrow-grid.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow grid settings.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

//Set content max width
$content-maxwidth: 1195px;

%row {
  margin: 0 auto;
  max-width: 100%;
  @include pie-clearfix();
  width: 100%;
}
// Grid Systems.
$breakpoint-default-feature: max-width;
$mobile-breakpoint: 767px;
$grid-cols: 12;
@include sgs-change('mobile first', false);
@include add-grid($grid-cols);
@include add-gutter(0);
// 12 Column grid for components.
@for $width from 1 through $grid-cols {
  @for $location from 1 through $grid-cols {
    .cols-#{$width}-#{$location} {
      @include grid-span($width, $location);
    }
  }
}
@media all and (max-width: $mobile-breakpoint) {
  @for $width from 1 through $grid-cols {
    @for $location from 1 through $grid-cols {
      .cols-#{$width}-#{$location} {
        @include grid-span(12, 1);
      }
    }
  }
}
@mixin one-column() {
  @include grid-span(12,1);
  clear: both;
}
@mixin two-columns() {
  // First column
  &:nth-child(2n+1) {
    @include grid-span(6, 1);
    clear: both;
  }

  // Second column
  &:nth-child(2n) {
    @include grid-span(6, 7);
  }
}

@mixin three-columns() {
  // First column
  &:nth-child(3n+1) {
    @include grid-span(4, 1);
    clear: both;
  }

  // Second column
  &:nth-child(3n+2) {
    @include grid-span(4, 5);
  }

  // Third column
  &:nth-child(3n) {
    @include grid-span(4, 9);
  }
}

@mixin four-columns() {
  // First column
  &:nth-child(4n+1) {
    @include grid-span(3, 1);
  }

  // Second column
  &:nth-child(4n+2) {
    @include grid-span(3, 4);
  }

  // Third column
  &:nth-child(4n+3) {
    @include grid-span(3, 7);
  }

  // Fourth column
  &:nth-child(4n) {
    @include grid-span(3, 10);
  }
}