/** @file _quiltrow-variables.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow variables.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

// Media Query Ranges.
$small-range: (0, rem(640px)) !default;
$medium-range: (rem(641px), rem(1024px)) !default;
$large-range: (rem(1025px), rem(1440px)) !default;
$xlarge-range: (rem(1441px), rem(1920px)) !default;
$xxlarge-range: (rem(1921px), 99999999em) !default;
// Media Query variables.
$screen: "only screen" !default;
$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;
$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;
$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;
$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;
// Basic Colors.
$color-white: #ffffff;
$color-black: #000000;
$color-brand: #CF102D;
// Admin Colors.
$quiltrow-primary: #0074BD;
// Helper Variables.
$quiltrow-col-group: '.quiltrow__side--left,.quiltrow__side--right';
$quiltrow-layout-opt-classes: '.form-item-field-hs2-quilt-rows-lt-layout,.form-item-field-hs2-quilt-rows-rt-layout';
$quiltrow-fields: '.field--name-field-hs2-quilt-rows-lt-side, .field--name-field-hs2-quilt-rows-rt-side'



