/** @file _quiltrow-mixins.scss
  * -----------------------------------------------------------------------------
  *
  * A SASS file containing quiltrow mixin functions.
  *
  * @authors:
  * - Wade Stewart (wade.stewart@hs2solutions.com)
  *
**/

// Show / Hide Regions.
@mixin hide() {
  display: none !important;
  visibility: hidden;
}
@mixin show() {
  display: block;
  visibility: visible;
}